* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}
.container-geral {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    align-items: center;

}

form h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    font-size: 30px;
}

form input {
    width: 400px;
    border: 3px solid black;
    outline: none;
    padding: 5px;
}

form input:focus {
    border: 3px solid blueviolet;
}

form button {
    border: none;
    outline: none;
    background-color: #077d21;
    width: 80px;
    height: 20px;
    color: white;
    transition: all ease .5s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

form button:hover {
    background-color: #0aae2d;
}
.container {
    display: flex;
    margin-top: 40px;
    background-color: #161616;
    width: 700px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.teste {
    text-decoration: line-through;
    color: red; 
}